:root {
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --key-hover: #a2b3e1;
    --equals-key: hsl(6, 63%, 50%);
    --equals-key-shadow: hsl(6, 70%, 34%);
    --equals-key-hover: #f96c5b;
    --numbers-key: hsl(30, 25%, 89%);
    --numbers-key-shadow: hsl(28, 16%, 65%);
    --numbers-key-hover: #fff;
    --primary-text: hsl(0, 0%, 100%);
    --numbers-text: hsl(221, 14%, 31%);
    --delete-text: hsl(0, 0%, 100%);
    --equals-text: hsl(0, 0%, 100%);
}

/* theme styles */

body.theme1 {
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --key: hsl(225, 21%, 49%);
    --key-shadow: hsl(224, 28%, 35%);
    --key-hover: #a2b3e1;
    --equals-key: hsl(6, 63%, 50%);
    --equals-key-shadow: hsl(6, 70%, 34%);
    --equals-key-hover: #f96c5b;
    --numbers-key: hsl(30, 25%, 89%);
    --numbers-key-shadow: hsl(28, 16%, 65%);
    --numbers-key-hover: #fff;
    --primary-text: hsl(0, 0%, 100%);
    --numbers-text: hsl(221, 14%, 31%);
    --delete-text: hsl(0, 0%, 100%);
    --equals-text: hsl(0, 0%, 100%);
}

body.theme2 {
    --main-bg: hsl(0, 0%, 90%);
    --keypad-bg: hsl(0, 5%, 81%);
    --screen-bg: hsl(0, 0%, 93%);
    --key: hsl(185, 42%, 37%);
    --key-shadow: hsl(185, 58%, 25%);
    --key-hover: #62b5bd;
    --equals-key: hsl(25, 98%, 40%);
    --equals-key-shadow: hsl(25, 99%, 27%);
    --equals-key-hover: #ff8b38;
    --numbers-key: hsl(45, 7%, 89%);
    --numbers-key-shadow: hsl(35, 11%, 61%);
    --numbers-key-hover: #fff;
    --primary-text: hsl(60, 10%, 19%);
    --numbers-text: hsl(60, 10%, 19%);
    --delete-text: hsl(0, 0%, 100%);
    --equals-text: hsl(0, 0%, 100%);
}

body.theme3 {
    --main-bg: hsl(268, 75%, 9%);
    --keypad-bg: hsl(268, 71%, 12%);
    --screen-bg: hsl(268, 71%, 12%);
    --key: hsl(281, 89%, 26%);
    --key-shadow: hsl(285, 91%, 52%);
    --key-hover: #8631b0;
    --equals-key: hsl(176, 100%, 44%);
    --equals-key-shadow: hsl(177, 92%, 70%);
    --equals-key-hover: #94fff9;
    --numbers-key: hsl(268, 47%, 21%);
    --numbers-key-shadow: hsl(290, 70%, 36%);
    --numbers-key-hover: #6b34ac;
    --primary-text: hsl(52, 100%, 62%);
    --numbers-text: hsl(52, 100%, 62%);
    --delete-text: hsl(0, 0%, 100%);
    --equals-text: hsl(198, 20%, 13%);
}

/* reset styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: calc(32rem / 16);
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available; /* mobile viewport bug fix */
    background: var(--main-bg);
    color: var(--primary-text);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: calc(30rem / 16);
    padding-left: 8px;
}

#calc-container {
    width: calc(588rem / 16);
    padding: 24px;
}

#calc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

/* theme toggle styles */

.theme-toggle {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    font-size: calc(14rem / 16);
}

.theme-toggle h2 {
    padding-right: 28px;
    font-size: calc(12rem / 16);
}

.theme-nums {
    display: flex;
    justify-content: space-around;
    padding: 6px;
}

.toggle-btns {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: var(--keypad-bg);
    border-radius: 100px;
    padding: 4px 6px;
    width: auto;
}

.toggle-btns input[type=radio] {
    width: 18px;
    height: 18px;
    border: none;
    opacity: 0;
}

.toggle-btns .slider {
    position: absolute;
    height: calc(18rem / 16);
    width: calc(18rem / 16);
    border-radius: 50%;
    background-color: var(--equals-key);
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-btns .slider:hover {
    background-color: var(--equals-key-hover);
}

.toggle-btns input#theme1:checked ~ .slider {
    margin-left: 0;
}

.toggle-btns input#theme2:checked ~ .slider {
    margin-left: 18px;
}

.toggle-btns input#theme3:checked ~ .slider {
    margin-left: 36px;
}

/* calculator screen styles*/

#calc-screen {
    width: 100%;
    background: var(--screen-bg);
    font-size: calc(54rem / 16);
    border-radius: 10px;
    padding: 38px 32px;
    text-align: right;
    margin: 34px 0 24px 0;
    overflow-wrap: break-word;
}

/* calculator keypad buttons*/

#calc-keypad {
    width: 100%;
    background: var(--keypad-bg);
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 25px;
    text-align: center;
    border-radius: 10px;
}

#calc-keypad button {
    touch-action: manipulation;
}

.keys, .del, .reset, .equals {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: calc(32rem / 16);
    border-radius: 8px;
    padding: 16px 0 12px 0;
    border: none;
}

.keys {
    background: var(--numbers-key);
    color: var(--numbers-text);
    border-bottom: 5px solid var(--numbers-key-shadow);
}

.keys:hover {
    background: var(--numbers-key-hover);
}

.del {
    border-radius: 8px;
    background: var(--key);
    color: var(--delete-text);
    border-bottom: 5px solid var(--key-shadow);
    font-size: .75em;
}

.del:hover, .reset:hover {
    background: var(--key-hover);
}

.reset {
    background: var(--key);
    color: var(--delete-text);
    grid-column: 1 / span 2;
    grid-row: 5;
    border-bottom: 5px solid var(--key-shadow);
    font-size: .75em;
}

.equals {
    background: var(--equals-key);
    color: var(--equals-text);
    grid-column: 3 / span 2;
    grid-row: 5;
    border-bottom: 5px solid var(--equals-key-shadow);
}

.equals:hover {
    background: var(--equals-key-hover);
}

/* screen sizes under 636px */

@media only screen and (max-width: 636px) {
    #calc-container {
        width: 100%;
    }
    #calc-screen {
        font-size: calc(40rem / 16);
        padding: 24px 24px;
        margin: 34px 0 24px 0;
    }    
    #calc-keypad {
        padding: 24px;
        row-gap: 13px;
        column-gap: 13px;
    }
    .keys, .del, .reset, .equals {
        font-size: calc(28rem / 16);
        padding: 20px 0 16px 0;
        border: none;
    }
    .del, .reset {
        font-size: calc(20rem / 16);
    }
}

/* check for preferred colour scheme, dark is default */

@media (prefers-color-scheme: light) {
    body {
        --main-bg: hsl(0, 0%, 90%);
        --keypad-bg: hsl(0, 5%, 81%);
        --screen-bg: hsl(0, 0%, 93%);
        --key: hsl(185, 42%, 37%);
        --key-shadow: hsl(185, 58%, 25%);
        --key-hover: #62b5bd;
        --equals-key: hsl(25, 98%, 40%);
        --equals-key-shadow: hsl(25, 99%, 27%);
        --equals-key-hover: #ff8b38;
        --numbers-key: hsl(45, 7%, 89%);
        --numbers-key-shadow: hsl(35, 11%, 61%);
        --numbers-key-hover: #fff;
        --primary-text: hsl(60, 10%, 19%);
        --numbers-text: hsl(60, 10%, 19%);
        --delete-text: hsl(0, 0%, 100%);
        --equals-text: hsl(0, 0%, 100%);
    }
  }

